@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
html{
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
}
.img-respomsive{
    display: block;
    width: 100%;
}
.page__header{
    background-image: url(/images/Autoservis_Plisek--Pozadi-Header.png);
    width: 100%;
    background-repeat: no-repeat;
  background-attachment:scroll; 
  background-size: 100% 906px;
}
.page__nav{
    font-family: "DM Sans", sans-serif;
    background-color: white;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.6em;
}
.page__nav--button{
    font-size: 2em;
    margin-right: 20px;
}

.button{
    font-family: "DM Sans", sans-serif;
    background-color: #FE8C01;
    color: white;
    border-radius: 11px;
    width: 156.5px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2em;
    margin-right: 20px;
    
}
.button--shake:hover{
    animation: kivaní 0.6s ease-in-out 1;
}
@keyframes kivaní {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }   /* Menší kývání */
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }  /* Menší kývání */
    100% { transform: rotate(0deg); }
}
.page__nav__list{
    display: flex;
    justify-content: space-between;
    width: 880px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1em;
    padding-bottom: 2em;
}
.page__nav__list--logo{
    display: flex;
    align-items: center;
}
.page__nav__list--logo h1{
    font-size: 1.7em;
}
.page__nav__list--logo img{
    margin-right: 2em;
}
.page__nav__list--items{
    width: 309px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.7em;
}
.page__nav__list--items li{
    cursor: pointer;
}
.page__nav__list--items li:hover{
    color: #188bf6;
    transition: all .3s;
}
.page__intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.page__intro h2{
    font-size: 50px;
    margin-top: 60px;
    width: 856px;
    text-align: center;
    margin-bottom: 0;
}
@media (max-width: 870px){
    .page__intro h2{
        width: 692px;
    }
}
    
.page__intro--location{
    font-size: 20px;
    margin-bottom: 10px;
}
.page__intro--phone{
    font-size: 29px;
    margin: 0;
}
.page__intro--highlight{
    font-weight: 700;
    color: #FE8C01;
}
.page__intro--button{
    border: 4px solid white;
    width: 176px;
    height: 56px;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 50px;
}
.page__intro--button:hover{
    margin-top: 40px;
    transition: .2s;
}
.page__intro-img{
    margin-top: 190px;
}
.page__intro-text{
    color: #12232F;
    font-weight: 500;
    font-size: 1.5em;
    margin-top: 55px;
}
.page__section{
    height: 553px;
    max-width: 1170px;
    margin: 50px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0;
}
.page__section--h2{
    color: #12232F;
    font-size: 3em;
    margin: 15px 0;
    font-weight: 700;
}
.page__section--h2--highlight{
    color: #FE8C01;
    text-decoration: underline;
}
.info{
    --indent: 1em;
    width: calc((1170px - 4em)/2);
    padding: 0 1em;
    display: flex;
    flex-direction: column;
}
.info1{
    justify-content: space-evenly;
    align-items: center;
}
.page__section--p{
    color: rgba(0,0,0,0.7);
    height: 189px;
    font-size: 1.1em;
    line-height: 1.5em;
    font-family: "Poppins", sans-serif;
}
.page__section--img--car{
    margin-top: 20px;
}
.page__section--img-mechanic{
    border-radius: 5px;
}
.button1{
    width: 233px;
    font-size: 1em;
    font-weight: 700;
}
.page__footer{
    font-family: "Ubuntu", sans-serif;
}
